# Yerel MongoDB bağlantısı (kaynak)
LOCAL_MONGODB_URI=mongodb://localhost:27017/crudapp
LOCAL_DB_NAME=crudapp

# MongoDB Cloud (Atlas) bağlantısı (hedef)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/crudapp?retryWrites=true&w=majority
DB_NAME=crudapp

# Migration ayarları
CLEAR_CLOUD_COLLECTIONS=false
